.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.label {
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    color: #004D94FF;
    width: 100%;
    text-align: center;
}

.input {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    width: 15vw;
    font-size: 16px;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #6C80A191;
}

.button {
    background-color: #0074DEFF;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    padding: 5px;
    color: white;
    border: #0078E6FF inset;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.1);
}

.invalid {
    color: #EB000091;
    border-bottom-color: #EB000091;
}

.swalTitle {
    font-family: 'Fredoka One', cursive;
    color: #005BADFF !important;
}

.swalErrors {
    font-family: 'Fredoka One', cursive;
}

.swalDenyBtn {
    margin-left: 10px;
    background-color: #ee203e;
    border-color: #ee203e;
}